/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    min-height: 100vh;
}

/* Estilos para a barra lateral */
.sidebar {
    background-color: #fff;
    width: 80px;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
}

.profile-icon img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.add-button {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    margin-top: 10px;
}

/* Cabeçalho */
header {
    text-align: center;
    width: 100%;
    padding: 20px 0;
    margin-left: 80px; /* espaço para a barra lateral */
}

header h1 {
    font-size: 48px;
    font-weight: 300;
}

/* Estilos da seção da arte */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-left: 80px; /* Espaço para a sidebar */
}

.artwork {
    text-align: center;
    margin-top: 20px;
}

.artwork h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.artwork img {
    width: 500px;
    height: auto;
    margin-bottom: 10px;
}

.artwork .artist {
    font-size: 16px;
    color: #777;
}

/* Estilos dos ícones laterais */
.icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.icon-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin: 0 10px;
}

.icon-button.heart {
    color: red;
}

.icon-button.comment {
    color: gray;
}

.icon-button.buy {
    color: green;
}
